extends ../layout

block head
    - title = "登录"
    - needBack = false;
    link(rel="stylesheet" href="/stylesheets/login.css")
block nav_menu
block content
    script.
        function checkForm(form) {
            if (form.mobile.value == "") {
                Materialize.toast("请输入手机号", 3000, "errorToast");
                form.mobile.focus();
                return false;
            }
            if (form.password.value == "") {
                Materialize.toast("请输入密码", 3000, "errorToast");
                form.password.focus();
                return false;
            }
        }
    div(class="row top_margin")
        form(action="/users/login" method="post" onsubmit="return checkForm(this);")
            div(class="input-field col s12")
                input( id="mobile" type="text" name="mobile" class="validate")
                label(for="mobile") 手机号
            div(class="input-field col s12")
                input( id="password" type="password" name="password" class="validate")
                label(for="password") 密码
            div(class="row")
                div(class="padding_button col s12")
                    button(class="btn-large waves-effect waves-light" type="submit" name="action" id="loginBtn") 登录
            div(class="row")
                div(class="padding_button col s12")
                    button(class="btn-large waves-effect waves-light" id="regBtn") 注册
                    script.
                        $("#regBtn").click(function () {
                            window.location.href = "/users/register";
                            return false;
                        });

