extends ../layout

block head
    - title = "批量注册"
    link(rel="stylesheet" href="/stylesheets/login.css")
block nav_menu
block content
    div(class="row top_margin")
        form(action="/users/registerAll" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this)")
            div(class="file-field input-field col s12")
                div(class="btn")
                    span 请上传Excel
                    input(type="file" name="users" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" capture)
                div(class="file-path-wrapper")
                    input(class="file-path validate" type="text")
            div(class="col s12")
                button(class="btn-large waves-effect waves-light" type="submit" id="loginBtn") 提交
