extends ../layout

block head
    - var title = "注册"
    link(rel="stylesheet" href="/stylesheets/login.css")
block nav_menu
block content
    div(class="row")
        script.
            function checkForm(form) {
                if (form.mobile.value == "") {
                    Materialize.toast("请输入手机号", 3000, "errorToast");
                    form.mobile.focus();
                    return false;
                }
                if (form.password.value == "") {
                    Materialize.toast("请输入密码", 3000, "errorToast");
                    form.password.focus();
                    return false;
                }
                if (form.nickname.value == "") {
                    Materialize.toast("请输入昵称", 3000, "errorToast");
                    form.nickname.focus();
                    return false;
                }
                if (form.avatar.value == "") {
                    Materialize.toast("请选择头像", 3000, "errorToast");
                    form.avatar.focus();
                    return false;
                }
            }
        form(action="/users/register" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this)")
            div(class="input-field col s12")
                input( id="mobile" name="mobile" type="text" class="validate" length="11")
                label(for="mobile") 手机号
            div(class="input-field col s12")
                input( id="password" name="password" type="password" class="validate")
                label(for="password") 密码
            div(class="input-field col s12")
                input( id="nickname" name="nickname" type="text" class="validate" length="10")
                label(for="nickname") 昵称
            div(class="file-field input-field col s12")
                div(class="btn")
                    span 请选择头像
                    input(type="file" name="avatar")
                div(class="file-path-wrapper")
                    input(class="file-path validate" type="text")
            div(class="padding_button")
                button(class="btn-large waves-effect waves-light" type="submit" id="loginBtn") 提交注册
